$primary: #fecb00;
$secondary: #222130;
$branco: #e6e6e6 ;

.rowNav{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none !important;
}

.active{
    color: #fecb00 !important;
}

a:hover{
    cursor: pointer;
}

.icons{
    fill: #fff;
    width: 35px;
    transition: 0.2s ease;
    cursor: pointer;
}

.bgTranmsp{
    background-color: transparent;
}

.ulNav{
    display: flex;
    gap: 30px;
    left: 25px;
    position: relative;
}

.divBurger{
    position: relative;
    bottom: 23px;
}

.checkBoxResize{
    position: relative;
    top: 20px;
}

.icons:hover{
    fill: $primary;
}

.navBar{
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
}

.ItensNav{
    display: flex;
}

.social{
    display: flex;
}

.burger{
    display: none;
}

@media (max-width: 991px) {
    .navBar{
        z-index: 0;
        position: relative;
    }
    .social{
        display: none !important;
    }
    .ItensNav{
        display: none !important;
    }
    .burger{
        display: flex !important;
    }
}
  
.navItens{
  text-decoration: none;
  color: rgb(139, 139, 139);
  transition: 0.3s;
  cursor: pointer;
}

.navItens3{
    display: none;
    text-decoration: none;
    color: rgb(139, 139, 139) !important;
    transition: 0.3s;
  }

  .navItens3:hover{
    color: $primary !important;
}

.navItens2{
    height: 100%;
    text-decoration: none;
    transform: skew(-20deg);

  }

// .navItens:hover{
//     color: $primary !important;
// }

.navLog{
    display: flex;
    justify-content: end;
}

.navLogo{
    display: flex;
}

h5{
    text-transform: uppercase;
}

.dropdownBtn{
    position: fixed;
    top: 80px;
    left: 90%;
    background-color: rgba(27, 27, 27, 0.4);
    width: 160px !important;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #9b979730;
}

.link:hover {
    color: $primary;
}

.iconNav{
    width: 18px;
    fill: $primary;
    margin-right: 10px;
}

.iconPlay{
    fill: #fff;
    width: 35px;
    margin-right: 15px;
}

.hr{
    width: 100%;
    color: #fff;
    margin: 0;
}

.link{
    text-decoration: none;
    color: #868686;
    font-weight: 500;
    cursor: pointer;
}

.logButton{
    display: flex;
    background-color: $primary;
    width: 230px;
    height: 100%;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logButton p{
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    color: white;
    transform: skew(20deg);
    text-transform: uppercase;
}

.discordIcon{
    height: 25px;
    margin-right: 15px;
    transform: skew(20deg);
}

.username{
    font-size: 25px;
    color: #fff;
    margin: 0;
    transition: 0.5s ease;
}

.usernameDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    cursor: pointer;
}

.imgUser{
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
}

.arrow{
    width: 25px;
    margin-left: 10px;
    fill: #fff;
    transition: 0.5s ease;
}

.usernameDiv:hover .arrow{
    fill: $primary;
}

.usernameDiv:hover .username{
    color: $primary;
}

.ponto{
    color: $primary;
    font-size: 50px;
    margin: 0;
    position: relative;
    bottom: 10px;
}

.nome{
    font-size: 40px;
    color: $branco;
    margin: 0;
}

@media only screen and (max-width: 1290px) {
    .dropdownBtn{
        left: 83%;
    }
}

@media only screen and (max-width: 990px) {
    .dropdownBtn{
        left: 80%;
    }

    .navBar{
        justify-content: center;
    }

    .navLog{
        display: none !important;
    }

    .navLogo{
        display: none !important;
    }
  }

  @media only screen and (max-width: 650px){
    .dropdownBtn{
        left: 68%;
    }
    .logButton{
        width: 150px;
        height: 100% !important;
    }
  }

  @media only screen and (max-width: 470px){
    
    .logButton{
        display: none;
    }

    .navItens3{
        display: block;
    }
  }

  .username{
    font-size: 25px;
    color: #fff;
    margin: 0;
    transition: 0.5s ease;
}

.usernameDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    cursor: pointer;
}

.imgUser{
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
}

.arrow{
    width: 25px;
    margin-left: 10px;
    fill: #fff;
    transition: 0.5s ease;
}

.usernameDiv:hover .arrow{
    fill: $primary;
}

.usernameDiv:hover .username{
    color: $primary;
}

// Hamburger
.hamburger {
    height: 50px;
    width: 50px;
    transform: 0.2s;
    position: relative;
  }
  .hamburger .checkbox {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .line {
    transition: 0.5s;
    stroke-width: 6px;
    stroke: #fecb00;
  }
  .lineTop {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 25;
  }
  .lineBottom {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 60;
  }
  .lineMid {
    stroke-dasharray: 40 40;
  }
  .hamburger .checkbox:checked + svg .line {
    stroke: rgb(255, 255, 255);
  }
  .hamburger .checkbox:checked + svg .lineTop {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(45deg) translate(-7px, -5px);
  }
  .hamburger .checkbox:checked + svg .lineMid {
    stroke-dashoffset: 40;
  }
  .hamburger .checkbox:checked + svg .lineBottom {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(-45deg) translate(-5px, 5px);
  }
  
