$theme-colors: (
  primary: #fecb00,
  secondary: #222130,
) !default;

$primary: #fecb00;
$secondary: #222130;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

@import "bootstrap/scss/bootstrap";

*{
  font-family: "JetBrains Mono", monospace !important;
  margin: 0;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  overflow-x: hidden;
  background-color: $secondary;
}

@media (max-width: 991px) {
  body{
      top: 40px;
      position: relative;
      text-align: center !important;
      background-image: none;
  }

}





